<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">English Diary</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "ログイン" %></li>
      <li><%= link_to "新規登録" %></li>
      <li>
        <details>
          <summary>ユーザー名</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><%= link_to "プロフィール" %></li>
            <li><%= link_to "ログアウト" %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>