<div class="toast fixed bottom-8 right-4 sm:right-4 md:right-8 lg:right-12">
  <% flash.each do |key, message| %>
    <div class="alert <%= flash_class(key) %>">
      <div>
        <span><%= message %></span>
      </div>
    </div>
  <% end %>
</div>